In [28]:
#import data

import pandas as pd

file_path = '/Users/ianpoe/Downloads/2024-travelers-university-modeling-competition/train_data.csv'
df = pd.read_csv(file_path)
df.head()
    

#make channel binary
df['channel'] = df['channel'].apply(lambda x: 1 if x == 'Retail' else 0)

#make trm_len_mo binary
df['trm_len_mo'] = df['trm_len_mo'].apply(lambda x: 1 if x == 12 else 0)


#one-hot encoding to convert categorical into binary
df = pd.get_dummies(df, columns=['acq_method', 'bi_limit_group', 'geo_group', 
                                 'household_group', 'pay_type_code', 'pol_edeliv_ind',
                                 'prdct_sbtyp_grp', 'product_sbtyp', 'telematics_ind'], 
                    drop_first=True, dtype=int)

df.head()

,id,12m_call_history,ann_prm_amt,channel,digital_contact_ind,has_prior_carrier,home_lot_sq_footage,household_policy_counts,newest_veh_age,tenure_at_snapshot,...,pol_edeliv_ind_-1,pol_edeliv_ind_0,pol_edeliv_ind_1,prdct_sbtyp_grp_B,prdct_sbtyp_grp_C,product_sbtyp_type2,product_sbtyp_type3,telematics_ind_-1,telematics_ind_0,telematics_ind_1
0,1,3,669.21,0,1,0,57249,1,-20,0,...,0,0,1,1,0,0,0,0,0,0
1,2,0,606.45,1,1,0,133481,1,-20,71,...,0,0,1,0,0,0,0,0,0,0
2,3,0,677.06,1,0,0,18540,2,8,18,...,0,1,0,0,0,0,1,0,0,1
3,4,0,1317.32,1,0,0,63624,1,-20,59,...,0,1,0,1,0,0,0,0,0,0
4,5,0,2238.37,1,0,1,4867,2,55,24,...,0,1,0,0,0,0,0,0,1,0

In [29]:
#export cleaned csv
output_name = '/Users/ianpoe/Downloads/2024-travelers-university-modeling-competition/cleaned_training_data.csv'
df.to_csv(output_name, index=False)